Code/HiveContext/integration/src/main/xsd/SrvFileTransferMgmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Anand (Home) -->
<!--W3C XML Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>Версия схемы 3.0 от 01.02.2018</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>Сообщения</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="SendFileInfoNf" type="SendFileInfoNf_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о файле</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendFileStatusNf" type="SendFileStatusNf_Type">
		<xsd:annotation>
			<xsd:documentation>Статус файла</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendErrorNf" type="SendErrorNf_Type">
		<xsd:annotation>
			<xsd:documentation>Ошибка</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReSendFileNf" type="ReSendFileNf_Type">
		<xsd:annotation>
			<xsd:documentation>Повторная передача файла</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeleteFileNf" type="DeleteFileNf_Type">
		<xsd:annotation>
			<xsd:documentation>Удаление файла</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendLogNf" type="SendLogNf_Type">
		<xsd:annotation>
			<xsd:documentation>Логи</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendLogExpandedNf">
		<xsd:annotation>
			<xsd:documentation>Расширенное логирование</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SendLogExpandedNf_Type">
					<xsd:sequence>
						<xsd:element name="RqUID" type="RqUID_Type">
							<xsd:annotation>
								<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RqTm" type="Timestamp">
							<xsd:annotation>
								<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Destination" type="Destination_Type">
							<xsd:annotation>
								<xsd:documentation>Получатель сообщения</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="LogExpanded" type="LogExpanded_Type">
							<xsd:annotation>
								<xsd:documentation>Расширенное логирование</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetTransferInfoRq" type="GetTransferInfoRq_Type">
		<xsd:annotation>
			<xsd:documentation>Запрос информации</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GetTransferInfoRs" type="GetTransferInfoRs_Type">
		<xsd:annotation>
			<xsd:documentation>Ответ с информацией</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendStatisticCamelNf" type="SendStatisticCamelNf_Type">
		<xsd:annotation>
			<xsd:documentation>Мониторинг TFS LOGS </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendConfigNf" type="SendConfigNf_Type">
		<xsd:annotation>
			<xsd:documentation>Конфигурационные данные</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendConfigReportNf" type="SendConfigReportNf_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о конфигурационном файле</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SendNodeStatusNf" type="SendNodeStatusNf_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о статусе состояния приложения ТФС</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Комплексные типы данных</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="SendFileInfoNf_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о файле</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="File" type="File_Type" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Файлы</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SendFileStatusNf_Type">
		<xsd:annotation>
			<xsd:documentation>Статус файла</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения. Возвращается значение RqUID из запроса SendFileInfoNf</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FileStatus" type="FileStatus_Type" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Статус файла</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SendErrorNf_Type">
		<xsd:annotation>
			<xsd:documentation>Ошибка</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FileStatus" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Статус файла</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="FileStatusError_Type">
									<xsd:sequence>
										<xsd:element name="FileInfo" type="FileInfo_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Файл</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Status" type="Status_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Статус файла</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Folder" type="Folder_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Директория файла</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ScenarioInfo" type="ScenarioInfo_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Сценарий</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReSendFileNf_Type">
		<xsd:annotation>
			<xsd:documentation>Повторная передача файла</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FileStatus" type="FileStatus_Type" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Файл с ошибкой</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeleteFileNf_Type">
		<xsd:annotation>
			<xsd:documentation>Удаление файла</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="File" type="File_Type" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Файлы</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SendLogNf_Type">
		<xsd:annotation>
			<xsd:documentation>Логи</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LogInfo" type="LogInfo_Type">
						<xsd:annotation>
							<xsd:documentation>Данные для логгирования</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SendLogExpandedNf_Type">
		<xsd:annotation>
			<xsd:documentation>Расширенное логирование</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RqUID" type="RqUID_Type">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RqTm" type="Timestamp">
				<xsd:annotation>
					<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Destination" type="Destination_Type">
				<xsd:annotation>
					<xsd:documentation>Получатель сообщения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LogExpanded" type="LogExpanded_Type">
				<xsd:annotation>
					<xsd:documentation>Расширенное логирование</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetTransferInfoRq_Type">
		<xsd:annotation>
			<xsd:documentation>Запрос информации</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="DataMessageRqUID" type="UUID">
						<xsd:annotation>
							<xsd:documentation>Идентификатор сообщения </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetTransferInfoRs_Type">
		<xsd:annotation>
			<xsd:documentation>Ответ с информацией</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Status" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Статус файла</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="Status_Type">
									<xsd:sequence>
										<xsd:element name="StatusCode" type="StatusCode_Type">
											<xsd:annotation>
												<xsd:documentation>Статусный код возврата. Возможные значения: 0 - Логи выгружены успешно; 100 - Логи не удалось выгрузить</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Severity" type="Severity_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Описание статуса</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="AdditionalStatus" type="AdditionalStatus_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="AsyncRsInfo" type="AsyncRsInfo_Type" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Информация об асинхронном ответе</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Transactions" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Общие логи</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Transaction" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Общие логи. Данные представлены в порядке появления: от старого к новому</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="LogExpanded_Type">
												<xsd:sequence>
													<xsd:element name="StatusDesc" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Описание статуса операции</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="C">
																<xsd:maxLength value="256"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="SourceSystem" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Система источник</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="C">
																<xsd:maxLength value="256"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="TargetSystem" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Система получатель</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="C">
																<xsd:maxLength value="256"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="RqUID">
														<xsd:annotation>
															<xsd:documentation>Уникальный идентификатор лога передачи</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="Identifier"/>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:extension>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Events" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Детальные логи</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Event" type="LogInfo_Type" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Детальные логи. Данные представлены в порядке появления: от старого к новому</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SendStatisticCamelNf_Type">
		<xsd:annotation>
			<xsd:documentation>Мониторинг TFS LOGS </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RqUID" type="RqUID_Type">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RqTm" type="Timestamp">
				<xsd:annotation>
					<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Destination" type="Destination_Type">
				<xsd:annotation>
					<xsd:documentation>Получатель сообщения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServerName">
				<xsd:annotation>
					<xsd:documentation>имя сервера +ip</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="UpdateTimeStat">
				<xsd:annotation>
					<xsd:documentation>Период обновления статистики</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statistics">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="Statistics_Type">
							<xsd:sequence>
								<xsd:element name="camelContextStat" type="CamelContextStat_Type"/>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SendConfigNf_Type">
		<xsd:annotation>
			<xsd:documentation>Конфигурационные данные</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ConfigData">
						<xsd:annotation>
							<xsd:documentation>Конфигурационные данные маршрута</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="NC"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SendConfigReportNf_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о конфигурационном файле</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ReportData">
						<xsd:annotation>
							<xsd:documentation>Данные о конфигурационном файле</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ReportData_Type">
									<xsd:sequence>
										<xsd:element name="InstanceName">
											<xsd:annotation>
												<xsd:documentation>Версия конфигурационного файла</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="C">
													<xsd:maxLength value="1000"/>
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="Segment">
											<xsd:annotation>
												<xsd:documentation>Сегмент, из которого отправлено сообщение</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="C">
													<xsd:maxLength value="100"/>
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ConfigVersion">
											<xsd:annotation>
												<xsd:documentation>Наименование приложения, которое отправляет сообщение</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="C">
													<xsd:maxLength value="1000"/>
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SendNodeStatusNf_Type">
		<xsd:annotation>
			<xsd:documentation>Информация о статусе состояния приложения ТФС</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BasicRq_Type">
				<xsd:sequence>
					<xsd:element name="RqUID" type="RqUID_Type">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне инициатора процесса. Заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RqTm" type="Timestamp">
						<xsd:annotation>
							<xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы отправителя сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPName" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Идентификатор системы получателя. Значение указывается в формате: «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="Destination_Type">
						<xsd:annotation>
							<xsd:documentation>Получатель сообщения</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="StatusInfo">
						<xsd:annotation>
							<xsd:documentation>Данные о состоянии приложений ТФС</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="StatusInfo_Type">
									<xsd:sequence>
										<xsd:element name="InstanceName" type="C">
											<xsd:annotation>
												<xsd:documentation>Уникальное имя приложения, к которому относится событие</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Segment" type="C">
											<xsd:annotation>
												<xsd:documentation>Сегмент, из которого пришло сообщение</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="NodeStatus" type="C">
											<xsd:annotation>
												<xsd:documentation>Статус приложения</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="IsMasterNode" type="C">
											<xsd:annotation>
												<xsd:documentation>Мастер - true/false</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Простые типы данных</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="File_Type">
		<xsd:annotation>
			<xsd:documentation>Файл</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FileInfo" type="FileInfo_Type">
				<xsd:annotation>
					<xsd:documentation>Файл</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Folder" type="Folder_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Директория</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScenarioInfo" type="ScenarioInfo_Type">
				<xsd:annotation>
					<xsd:documentation>Сценарий</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Файл</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:annotation>
					<xsd:documentation>Уникальное имя файла в папке. Генерируется на стороне системы Отправителя файла. Заполняется на стороне системы Отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BusinessName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Бизнес название файла. Заполняется на стороне системы Отправителя файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Size" type="Long" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Размер файла</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CheckSum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Контрольная сумма файла в десятеричной системе исчисления. Считается алгоритмом crc32 на стороне системы Отправителя файла. Заполняется на стороне системы Отправителя сообщения</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileStatus_Type">
		<xsd:annotation>
			<xsd:documentation>Статус передачи файла</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FileInfo" type="FileInfo_Type">
				<xsd:annotation>
					<xsd:documentation>Файл</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="Status_Type">
				<xsd:annotation>
					<xsd:documentation>Статус файла</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Folder" type="Folder_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Директория файла</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScenarioInfo" type="ScenarioInfo_Type">
				<xsd:annotation>
					<xsd:documentation>Сценарий</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileStatusError_Type">
		<xsd:annotation>
			<xsd:documentation>Статус ошибки от Шлюза СР</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FileInfo" type="FileInfo_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Файл</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="Status_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статус файла</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Folder" type="Folder_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Директория файла</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ScenarioInfo" type="ScenarioInfo_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сценарий</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Destination_Type">
		<xsd:annotation>
			<xsd:documentation>Описание целевого поставщика услуг</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:annotation>
					<xsd:documentation>Название получателя сообщения для маршрутизации сообщения Шлюзом СР. Значения: tfs_pr_lan, tfs_pr_d2, tfs_pr_d1. Если сообщение не передается в Шлюз СР, то  значения указываются в виде «[система_сегмент]». Заполняется на стороне системы отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Version" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Версия сервиса управления передачей файлов. Заполняется на стороне системы отправителя сообщения. Текущая версия сервиса: "3.0"
</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ScenarioInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Cценарий</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ScenarioId" type="Identifier">
				<xsd:annotation>
					<xsd:documentation>Идентификатор сценария. На этапе разработки ТФС сообщает, какое значение необходимо передавать в данном поле. Заполняется на стороне системы Отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Folder_Type">
		<xsd:annotation>
			<xsd:documentation>Директории файла</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FolderSource" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Исходная директория нахождения файла с уникальным именем, откуда необходимо забрать файл. Заполняется на стороне системы Отправителя файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FolderTarget" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Конечная директория файла, куда файл необходимо положить. Заполняется на стороне системы Отправителя файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="1000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Данные для логирования</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RqUID">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор лога передачи</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="Identifier"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FileName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FileSize" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Размер передаваемого файла (в килобайтах)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="Long"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SourceFolder" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Исходная папка нахождения файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TargetFolder" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Конечная папка передачи файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SourceServer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Исходный сервер нахождения файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TargetServer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Конечный сервер передачи файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TfsID" type="NC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор ТФС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RouteID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Уникальное наименование маршрута</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Operation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Операция</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OperationName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование операции</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Status" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статус выполнения операции</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PartDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата и время выполнения операции</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Event_Msg" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Текст сообщений, которые зафиксированы в базе данных логирования по запрашиваемому RqUID. Сообщения представлены в порядке появления: от старого к новому</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogExpanded_Type">
		<xsd:annotation>
			<xsd:documentation>Данные для логирования</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TfsID" type="NC">
				<xsd:annotation>
					<xsd:documentation>Уникальный идентификатор ТФС (наименование контекста ТФС)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServerName" type="C">
				<xsd:annotation>
					<xsd:documentation>Адрес сервера, с которого пришли логи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransactionDate" type="Timestamp">
				<xsd:annotation>
					<xsd:documentation>Дата и время начала операции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StatusCode" type="StatusCode_Type">
				<xsd:annotation>
					<xsd:documentation>Статус операции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RouteID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Уникальное наименование маршрута</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FileName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование файла</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="C">
						<xsd:maxLength value="256"/>
						<xsd:minLength value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TransactionDuration" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Время выполнения операции</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileSize" type="Long">
				<xsd:annotation>
					<xsd:documentation>Размер передаваемого файла (в килобайтах)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type" type="C">
				<xsd:annotation>
					<xsd:documentation>Тип передачи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CamelContextStat_Type">
		<xsd:annotation>
			<xsd:documentation>TFS LOGS </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="routeStats" type="RouteStats_Type"/>
		</xsd:sequence>
		<xsd:attribute name="id" use="required">
			<xsd:annotation>
				<xsd:documentation>система, идентификатор</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="index" use="optional">
			<xsd:annotation>
				<xsd:documentation>индекс</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="state" use="required">
			<xsd:annotation>
				<xsd:documentation>Состояние</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="exchangesInflight" use="required">
			<xsd:annotation>
				<xsd:documentation>выполняющиеся обмены</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="exchangesCompleted" use="required">
			<xsd:annotation>
				<xsd:documentation>завершенные обмены</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="exchangesFailed" use="required">
			<xsd:annotation>
				<xsd:documentation>неудавшиеся обмены</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="failuresHandled" use="required">
			<xsd:annotation>
				<xsd:documentation>обработанные неудавшиеся обмены</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="redeliveries" use="required">
			<xsd:annotation>
				<xsd:documentation>повторные попытки обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="externalRedeliveries" use="required">
			<xsd:annotation>
				<xsd:documentation>внешние повторные попытки обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="minProcessingTime" use="required">
			<xsd:annotation>
				<xsd:documentation>минимальное время обработки</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="maxProcessingTime" use="required">
			<xsd:annotation>
				<xsd:documentation>максимальное время обработки</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="totalProcessingTime" use="required">
			<xsd:annotation>
				<xsd:documentation>общее время обработки</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lastProcessingTime" use="required">
			<xsd:annotation>
				<xsd:documentation>последнее время обработки</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="deltaProcessingTime" use="required">
			<xsd:annotation>
				<xsd:documentation>время обработки дельты</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="meanProcessingTime" use="required">
			<xsd:annotation>
				<xsd:documentation>среднее время обработки</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="startTimestamp" use="required">
			<xsd:annotation>
				<xsd:documentation>время старта</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="resetTimestamp" use="required">
			<xsd:annotation>
				<xsd:documentation>время ресета</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="firstExchangeCompletedTimestamp" use="required">
			<xsd:annotation>
				<xsd:documentation>время первого завершенного обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="firstExchangeCompletedExchangeId" use="required">
			<xsd:annotation>
				<xsd:documentation>ID первого завершенного обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="firstExchangeFailureTimestamp" use="required">
			<xsd:annotation>
				<xsd:documentation>время первого неудавшегося обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="firstExchangeFailureExchangeId" use="required">
			<xsd:annotation>
				<xsd:documentation>ID первого неудавшегося обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lastExchangeCompletedTimestamp" use="required">
			<xsd:annotation>
				<xsd:documentation>время последнего завершенного обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lastExchangeCompletedExchangeId" use="required">
			<xsd:annotation>
				<xsd:documentation>ID последнего завершенного обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lastExchangeFailureTimestamp" use="required">
			<xsd:annotation>
				<xsd:documentation>время последнего неудавшегося обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="lastExchangeFailureExchangeId" use="required">
			<xsd:annotation>
				<xsd:documentation>ID последнего неудавшегося обмена</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ProcessorStats_Type">
		<xsd:annotation>
			<xsd:documentation>Процессор</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="processorStat" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="id" use="required">
						<xsd:annotation>
							<xsd:documentation>система, идентификатор</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="index" use="optional">
						<xsd:annotation>
							<xsd:documentation>индекс</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="state" use="required">
						<xsd:annotation>
							<xsd:documentation>Состояние</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="exchangesInflight" use="required">
						<xsd:annotation>
							<xsd:documentation>выполняющиеся обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="exchangesCompleted" use="required">
						<xsd:annotation>
							<xsd:documentation>завершенные обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="exchangesFailed" use="required">
						<xsd:annotation>
							<xsd:documentation>неудавшиеся обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="failuresHandled" use="required">
						<xsd:annotation>
							<xsd:documentation>обработанные неудавшиеся обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="redeliveries" use="required">
						<xsd:annotation>
							<xsd:documentation>повторные попытки обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="externalRedeliveries" use="required">
						<xsd:annotation>
							<xsd:documentation>внешние повторные попытки обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="minProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>минимальное время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="maxProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>максимальное время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="totalProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>общее время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>последнее время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="deltaProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>время обработки дельты</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="meanProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>среднее время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="startTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время старта</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="resetTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время ресета</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeCompletedTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время первого завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeCompletedExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID первого завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeFailureTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время первого неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeFailureExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID первого неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeCompletedTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время последнего завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeCompletedExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID последнего завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeFailureTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время последнего неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeFailureExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID последнего неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Statistics_Type">
		<xsd:annotation>
			<xsd:documentation>TFS LOGS 
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="camelContextStat" type="CamelContextStat_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RouteStats_Type">
		<xsd:annotation>
			<xsd:documentation>Роут</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="routeStat" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processorStats" type="ProcessorStats_Type"/>
					</xsd:sequence>
					<xsd:attribute name="id" use="required">
						<xsd:annotation>
							<xsd:documentation>система, идентификатор</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="index" use="optional">
						<xsd:annotation>
							<xsd:documentation>индекс</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="state" use="required">
						<xsd:annotation>
							<xsd:documentation>Состояние</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="exchangesInflight" use="required">
						<xsd:annotation>
							<xsd:documentation>выполняющиеся обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="exchangesCompleted" use="required">
						<xsd:annotation>
							<xsd:documentation>завершенные обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="exchangesFailed" use="required">
						<xsd:annotation>
							<xsd:documentation>неудавшиеся обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="failuresHandled" use="required">
						<xsd:annotation>
							<xsd:documentation>обработанные неудавшиеся обмены</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="redeliveries" use="required">
						<xsd:annotation>
							<xsd:documentation>повторные попытки обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="externalRedeliveries" use="required">
						<xsd:annotation>
							<xsd:documentation>внешние повторные попытки обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="minProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>минимальное время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="maxProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>максимальное время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="totalProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>общее время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>последнее время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="deltaProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>время обработки дельты</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="meanProcessingTime" use="required">
						<xsd:annotation>
							<xsd:documentation>среднее время обработки</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="startTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время старта</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="resetTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время ресета</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeCompletedTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время первого завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeCompletedExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID первого завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeFailureTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время первого неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="firstExchangeFailureExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID первого неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeCompletedTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время последнего завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeCompletedExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID последнего завершенного обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeFailureTimestamp" use="required">
						<xsd:annotation>
							<xsd:documentation>время последнего неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{3})?((-|\+)[0-9]{2}[0-9]{2})?)?)?)?"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="lastExchangeFailureExchangeId" use="required">
						<xsd:annotation>
							<xsd:documentation>ID последнего неудавшегося обмена</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportData_Type">
		<xsd:annotation>
			<xsd:documentation>Данные о конфигурационном файле</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="InstanceName" type="C" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Версия конфигурационного файла</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Segment" type="C" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сегмент, из которого пришло сообщение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConfigVersion" type="C" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование приложения, которое шлет сообщение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatusInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Данные о состоянии приложений ТФС</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="InstanceName" type="C">
				<xsd:annotation>
					<xsd:documentation>Уникальное имя приложения, к которому относится событие</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Segment" type="C">
				<xsd:annotation>
					<xsd:documentation>Сегмент, из которого пришло сообщение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NodeStatus" type="C">
				<xsd:annotation>
					<xsd:documentation>Статус приложения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsMasterNode" type="C">
				<xsd:annotation>
					<xsd:documentation>Мастер - true/false</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Стандартные комплексные типы МДО</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="BasicRq_Type">
		<xsd:annotation>
			<xsd:documentation>Тип сообщения - запрос</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="Status_Type">
		<xsd:annotation>
			<xsd:documentation>Статус</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StatusCode" type="StatusCode_Type">
				<xsd:annotation>
					<xsd:documentation>Статусный код возврата. Возможные значения: 0 - Успех; 100 – Общая ошибка ТФС; 101 – Недоступен ресурс Смежной системы; 102 – Файл искажен; 103 – Файл заражен; 104 – Ошибка Смежной системы. Заполняется на стороне системы Отправителя сообщения
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Severity" type="Severity_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Описание статуса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AdditionalStatus" type="AdditionalStatus_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AsyncRsInfo" type="AsyncRsInfo_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Информация об асинхронном ответе</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AsyncRsInfo_Type">
		<xsd:annotation>
			<xsd:documentation>Информация об асинхронном ответе</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AvailDt" type="AvailDt_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата/время готовности ответа. Расчетное время, когда будет готов ответ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExpDt" type="ExpDt_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата/время хранения ответа. То время, когда ответ будет удален с сервера</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalStatus_Type">
		<xsd:annotation>
			<xsd:documentation>Дополнительные статусы</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статусный код возврата</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Статусный код сервера</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Severity" type="Severity_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Описание статуса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Простые типы данных МДО</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="C">
		<xsd:annotation>
			<xsd:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Timestamp">
		<xsd:annotation>
			<xsd:documentation>Отметка времени</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="Long">
		<xsd:annotation>
			<xsd:documentation>Длинное число</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="NC">
		<xsd:annotation>
			<xsd:documentation>Строковый тип в кодировке ISO Latin-1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RqUID_Type">
		<xsd:annotation>
			<xsd:documentation>Идентификатор запроса	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UUID"/>
	</xsd:simpleType>
	<xsd:simpleType name="UUID">
		<xsd:annotation>
			<xsd:documentation>Уникальный 16 байтовый идентификатор. Для обмена в рамках интеграционных проектов Сбербанка представляется набором из 32 символов без разделителей в шестнадцатиричной системе. Размерность 36 оставлена для совместимости со стандартом IFX/</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
			<xsd:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OperUID_Type">
		<xsd:annotation>
			<xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SPName_Type">
		<xsd:annotation>
			<xsd:documentation>Service Provider Name		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Identifier"/>
	</xsd:simpleType>
	<xsd:simpleType name="Identifier">
		<xsd:annotation>
			<xsd:documentation>Идентификатор</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusDesc_Type">
		<xsd:annotation>
			<xsd:documentation>Описание статуса		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServerStatusCode_Type">
		<xsd:annotation>
			<xsd:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="C">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusCode_Type">
		<xsd:annotation>
			<xsd:documentation>Статусный код возврата
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Long"/>
	</xsd:simpleType>
	<xsd:simpleType name="Severity_Type">
		<xsd:annotation>
			<xsd:documentation>Серьезность ошибки.
 Значения: Error, Warn, Info
		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ClosedEnum">
			<xsd:enumeration value="Error"/>
			<xsd:enumeration value="Warn"/>
			<xsd:enumeration value="Info"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClosedEnum">
		<xsd:annotation>
			<xsd:documentation>Закрытое перечисление. Перечисление содержит	конечный набор допустимых значений. Другие значения не допустимы. Обнаружении значения,	не входящего	в набор допустимых значений,	трактуется как ошибка в любом узле				системы на любом этапе обработки				сообщения.			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AvailDt_Type">
		<xsd:annotation>
			<xsd:documentation>Дата/время готовности ответа. Расчетное время, когда будет готов ответ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Timestamp"/>
	</xsd:simpleType>
	<xsd:simpleType name="ExpDt_Type">
		<xsd:annotation>
			<xsd:documentation>Дата/время хранения ответа. То время, когда ответ будет удален с сервера</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Timestamp"/>
	</xsd:simpleType>
</xsd:schema>
